.navLink {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-primary);

  /* I'm not using any CSS preprocessors here, let's just assume that nesting is fully supported. 🐸  */
  &:hover {
    color: var(--color-accent);
  }
}
