.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > .navbar__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-xl);
  }
}

@media (max-width: 375px) {
  .navbar > .navbar__links > *:not(:last-child) {
    display: none;
  }
}
