.button {
  height: 40px;
  padding: 0 var(--spacing-xl);

  font-weight: bold;

  border-radius: var(--border-radius-lg);

  /* I'm not using any CSS preprocessors here, let's just assume this is fully supported. 🐸  */
  &.button--default {
    color: var(--color-text-inverted);
    background-color: var(--color-accent);
  }

  &.button--primary {
    color: var(--color-text-contrast);
    background-color: var(--color-primary);
  }

  &.button--secondary {
    color: var(--color-text-primary);
    background-color: var(--color-secondary);
  }
}
